<form action="/deploy" method="post">
  <input type="hidden" name="pin" value="123456" />
  <input name="name" placeholder="Token Name" required/><br/>
  <input name="symbol" placeholder="Symbol" required/><br/>
  <input name="decimals" placeholder="Decimals" value="18" required/><br/>
  <button type="submit">Deploy</button>
</form>
